.SavedMessage {
    position: fixed;
    z-index: 500;
    background-color: forestgreen;
    box-shadow: 1px 1px 1px black;
    padding: 8px;
    left: 15%;
    top: 10%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    transition: all 2s ease-in-out;
}

.SavedMessage p{
    margin: 0;
}


@media (min-width: 600px) {
    .SavedMessage {
        width: 200px;
        left: calc(70% - 350px);
    }
}