.Projects {
    padding: 30px;
}

.Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


.Table td, .Table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.Table td{
    max-width: 150px;
    overflow-x: auto;
}

.Table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.antBtn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 23px;
    padding: 1px 8px;
    font-size: 13px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff none;
    border: 1px solid #d9d9d9;
}
.antBtn > .anticon {
    line-height: 1;
}
.antBtn,
.antBtn:active,
.antBtn:focus {
    outline: 0;
}
.antBtn:not([disabled]):hover {
    text-decoration: none;
}
.antBtn:not([disabled]):active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn[disabled] {
    cursor: not-allowed;
}
.antBtn[disabled] > * {
    pointer-events: none;
}
.antBtn-lg {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 2px;
}
.antBtn-sm {
    height: 24px;
    padding: 0px 7px;
    font-size: 14px;
    border-radius: 2px;
}
.antBtn > a:only-child {
    color: currentColor;
}
.antBtn > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn:hover,
.antBtn:focus {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
}
.antBtn:hover > a:only-child,
.antBtn:focus > a:only-child {
    color: currentColor;
}
.antBtn:hover > a:only-child::after,
.antBtn:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn:active {
    color: #096dd9;
    background: #fff;
    border-color: #096dd9;
}
.antBtn:active > a:only-child {
    color: currentColor;
}
.antBtn:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn[disabled],
.antBtn[disabled]:hover,
.antBtn[disabled]:focus,
.antBtn[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn[disabled] > a:only-child,
.antBtn[disabled]:hover > a:only-child,
.antBtn[disabled]:focus > a:only-child,
.antBtn[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn[disabled] > a:only-child::after,
.antBtn[disabled]:hover > a:only-child::after,
.antBtn[disabled]:focus > a:only-child::after,
.antBtn[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn:hover,
.antBtn:focus,
.antBtn:active {
    text-decoration: none;
    background: #fff;
}
.antBtn > span {
    display: inline-block;
}
.antBtn-primary {
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.antBtn-primary > a:only-child {
    color: currentColor;
}
.antBtn-primary > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-primary:hover,
.antBtn-primary:focus {
    color: #fff;
    background: #40a9ff;
    border-color: #40a9ff;
}
.antBtn-primary:hover > a:only-child,
.antBtn-primary:focus > a:only-child {
    color: currentColor;
}
.antBtn-primary:hover > a:only-child::after,
.antBtn-primary:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-primary:active {
    color: #fff;
    background: #096dd9;
    border-color: #096dd9;
}
.antBtn-primary:active > a:only-child {
    color: currentColor;
}
.antBtn-primary:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-primary[disabled],
.antBtn-primary[disabled]:hover,
.antBtn-primary[disabled]:focus,
.antBtn-primary[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-primary[disabled] > a:only-child,
.antBtn-primary[disabled]:hover > a:only-child,
.antBtn-primary[disabled]:focus > a:only-child,
.antBtn-primary[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-primary[disabled] > a:only-child::after,
.antBtn-primary[disabled]:hover > a:only-child::after,
.antBtn-primary[disabled]:focus > a:only-child::after,
.antBtn-primary[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-group .antBtn-primary:not(:first-child):not(:last-child) {
    border-right-color: #40a9ff;
    border-left-color: #40a9ff;
}
.antBtn-group .antBtn-primary:not(:first-child):not(:last-child):disabled {
    border-color: #d9d9d9;
}
.antBtn-group .antBtn-primary:first-child:not(:last-child) {
    border-right-color: #40a9ff;
}
.antBtn-group .antBtn-primary:first-child:not(:last-child)[disabled] {
    border-right-color: #d9d9d9;
}
.antBtn-group .antBtn-primary:last-child:not(:first-child),
.antBtn-group .antBtn-primary + .antBtn-primary {
    border-left-color: #40a9ff;
}
.antBtn-group .antBtn-primary:last-child:not(:first-child)[disabled],
.antBtn-group .antBtn-primary + .antBtn-primary[disabled] {
    border-left-color: #d9d9d9;
}
.antBtn-ghost {
    color: rgba(0, 0, 0, 0.85);
    background: transparent;
    border-color: #d9d9d9;
}
.antBtn-ghost > a:only-child {
    color: currentColor;
}
.antBtn-ghost > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-ghost:hover,
.antBtn-ghost:focus {
    color: #40a9ff;
    background: transparent;
    border-color: #40a9ff;
}
.antBtn-ghost:hover > a:only-child,
.antBtn-ghost:focus > a:only-child {
    color: currentColor;
}
.antBtn-ghost:hover > a:only-child::after,
.antBtn-ghost:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-ghost:active {
    color: #096dd9;
    background: transparent;
    border-color: #096dd9;
}
.antBtn-ghost:active > a:only-child {
    color: currentColor;
}
.antBtn-ghost:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-ghost[disabled],
.antBtn-ghost[disabled]:hover,
.antBtn-ghost[disabled]:focus,
.antBtn-ghost[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-ghost[disabled] > a:only-child,
.antBtn-ghost[disabled]:hover > a:only-child,
.antBtn-ghost[disabled]:focus > a:only-child,
.antBtn-ghost[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-ghost[disabled] > a:only-child::after,
.antBtn-ghost[disabled]:hover > a:only-child::after,
.antBtn-ghost[disabled]:focus > a:only-child::after,
.antBtn-ghost[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-dashed {
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    border-color: #d9d9d9;
    border-style: dashed;
}
.antBtn-dashed > a:only-child {
    color: currentColor;
}
.antBtn-dashed > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-dashed:hover,
.antBtn-dashed:focus {
    color: #40a9ff;
    background: #fff;
    border-color: #40a9ff;
}
.antBtn-dashed:hover > a:only-child,
.antBtn-dashed:focus > a:only-child {
    color: currentColor;
}
.antBtn-dashed:hover > a:only-child::after,
.antBtn-dashed:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-dashed:active {
    color: #096dd9;
    background: #fff;
    border-color: #096dd9;
}
.antBtn-dashed:active > a:only-child {
    color: currentColor;
}
.antBtn-dashed:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-dashed[disabled],
.antBtn-dashed[disabled]:hover,
.antBtn-dashed[disabled]:focus,
.antBtn-dashed[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-dashed[disabled] > a:only-child,
.antBtn-dashed[disabled]:hover > a:only-child,
.antBtn-dashed[disabled]:focus > a:only-child,
.antBtn-dashed[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-dashed[disabled] > a:only-child::after,
.antBtn-dashed[disabled]:hover > a:only-child::after,
.antBtn-dashed[disabled]:focus > a:only-child::after,
.antBtn-dashed[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-danger {
    color: #fff;
    background: #ff4d4f;
    border-color: #ff4d4f;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.antBtn-danger > a:only-child {
    color: currentColor;
}
.antBtn-danger > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-danger:hover,
.antBtn-danger:focus {
    color: #fff;
    background: #ff7875;
    border-color: #ff7875;
}
.antBtn-danger:hover > a:only-child,
.antBtn-danger:focus > a:only-child {
    color: currentColor;
}
.antBtn-danger:hover > a:only-child::after,
.antBtn-danger:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-danger:active {
    color: #fff;
    background: #d9363e;
    border-color: #d9363e;
}
.antBtn-danger:active > a:only-child {
    color: currentColor;
}
.antBtn-danger:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-danger[disabled],
.antBtn-danger[disabled]:hover,
.antBtn-danger[disabled]:focus,
.antBtn-danger[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-danger[disabled] > a:only-child,
.antBtn-danger[disabled]:hover > a:only-child,
.antBtn-danger[disabled]:focus > a:only-child,
.antBtn-danger[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-danger[disabled] > a:only-child::after,
.antBtn-danger[disabled]:hover > a:only-child::after,
.antBtn-danger[disabled]:focus > a:only-child::after,
.antBtn-danger[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-link {
    color: #1890ff;
    background: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-link > a:only-child {
    color: currentColor;
}
.antBtn-link > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-link:hover,
.antBtn-link:focus {
    color: #40a9ff;
    background: transparent;
    border-color: #40a9ff;
}
.antBtn-link:hover > a:only-child,
.antBtn-link:focus > a:only-child {
    color: currentColor;
}
.antBtn-link:hover > a:only-child::after,
.antBtn-link:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-link:active {
    color: #096dd9;
    background: transparent;
    border-color: #096dd9;
}
.antBtn-link:active > a:only-child {
    color: currentColor;
}
.antBtn-link:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-link[disabled],
.antBtn-link[disabled]:hover,
.antBtn-link[disabled]:focus,
.antBtn-link[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-link[disabled] > a:only-child,
.antBtn-link[disabled]:hover > a:only-child,
.antBtn-link[disabled]:focus > a:only-child,
.antBtn-link[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-link[disabled] > a:only-child::after,
.antBtn-link[disabled]:hover > a:only-child::after,
.antBtn-link[disabled]:focus > a:only-child::after,
.antBtn-link[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-link:hover {
    background: transparent;
}
.antBtn-link:hover,
.antBtn-link:focus,
.antBtn-link:active {
    border-color: transparent;
}
.antBtn-link[disabled],
.antBtn-link[disabled]:hover,
.antBtn-link[disabled]:focus,
.antBtn-link[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
    border-color: transparent;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-link[disabled] > a:only-child,
.antBtn-link[disabled]:hover > a:only-child,
.antBtn-link[disabled]:focus > a:only-child,
.antBtn-link[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-link[disabled] > a:only-child::after,
.antBtn-link[disabled]:hover > a:only-child::after,
.antBtn-link[disabled]:focus > a:only-child::after,
.antBtn-link[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-text {
    color: rgba(0, 0, 0, 0.85);
    background: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-text > a:only-child {
    color: currentColor;
}
.antBtn-text > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-text:hover,
.antBtn-text:focus {
    color: #40a9ff;
    background: transparent;
    border-color: #40a9ff;
}
.antBtn-text:hover > a:only-child,
.antBtn-text:focus > a:only-child {
    color: currentColor;
}
.antBtn-text:hover > a:only-child::after,
.antBtn-text:focus > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-text:active {
    color: #096dd9;
    background: transparent;
    border-color: #096dd9;
}
.antBtn-text:active > a:only-child {
    color: currentColor;
}
.antBtn-text:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-text[disabled],
.antBtn-text[disabled]:hover,
.antBtn-text[disabled]:focus,
.antBtn-text[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-text[disabled] > a:only-child,
.antBtn-text[disabled]:hover > a:only-child,
.antBtn-text[disabled]:focus > a:only-child,
.antBtn-text[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-text[disabled] > a:only-child::after,
.antBtn-text[disabled]:hover > a:only-child::after,
.antBtn-text[disabled]:focus > a:only-child::after,
.antBtn-text[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}
.antBtn-text:hover,
.antBtn-text:focus {
    color: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.018);
    border-color: transparent;
}
.antBtn-text:active {
    color: rgba(0, 0, 0, 0.85);
    background: rgba(0, 0, 0, 0.028);
    border-color: transparent;
}
.antBtn-text[disabled],
.antBtn-text[disabled]:hover,
.antBtn-text[disabled]:focus,
.antBtn-text[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
    border-color: transparent;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antBtn-text[disabled] > a:only-child,
.antBtn-text[disabled]:hover > a:only-child,
.antBtn-text[disabled]:focus > a:only-child,
.antBtn-text[disabled]:active > a:only-child {
    color: currentColor;
}
.antBtn-text[disabled] > a:only-child::after,
.antBtn-text[disabled]:hover > a:only-child::after,
.antBtn-text[disabled]:focus > a:only-child::after,
.antBtn-text[disabled]:active > a:only-child::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    content: '';
}

.textHighlight{
    color: white;
    background-color:red;
    border-radius: 25px;
}

.floatRightSearch{
    width: 350px;
    float: right;
    border: 1px solid lightblue;
}
