.CreateProject {
    text-align: center;
    font-family: 'Roboto', Helvetica Neue, Arial, sans-serif;
    margin-bottom: 70px;
    font-size: 1.2rem;
    margin-top: 90px;
}

.CreateProject .Box {
    /*display: inline-block;*/
    margin: auto;
    padding: 20px;
    border: 3px solid #77bc1f;
    border-radius: 1rem;
    width: 40rem;
    margin-bottom: 50px;
    background-color: #a5b19721;
    /*margin-right: 20px;*/
}

.Button {
    display: block;
    margin: 0 auto 30px;
}


