.ant-tag{
    border-radius: 45px;
    margin-bottom: 1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.4rem;
    font-size: 13px;
}

.ant-table-wrapper{
    margin-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.disabled-row {
    background-color: #dcdcdc;
    pointer-events: none;
}