.Button {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  transition-duration: 0.4s;
  font-weight: bold;
  border-radius: 18px;
  border: 0px;
}

.Submit {
  color: white;
  padding: 10px;
  background-color: #68a51a;
  font-weight: lighter;
  margin-top: 20px;
}

.Create{
  color: white;
  border-radius: 18px;
  margin-bottom: 10px;
  background-color: darkblue;
  border-color: transparent;
}

.Create:hover{
  background-color: #3b0062;
  color: white;
}

.Button:hover {
  background-color: #77BC1F;
  color: white;
}

.Button:focus{
  outline: none;
}
